/* Style Sheet */
html {
  min-width: 600px;
}
#pageTitle {
    font-size: 500%;
    text-align: center;
    font-weight: bold;
}

#suggestionHead, #historyHead{
    font-size: 200%;
    padding: 0%;
}

#suggestionBox, #historyBox {
    margin-left: 10px;
    min-height: 45px;
    display: inline;
    font-size: 18px;
}


.searchArea {
    text-align: center;
    margin: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
}

#searchBox {
  max-width: 325px;
  width: auto;
}

.gifItem {
  margin: 5px;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#results {
  width: 100%;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.searchResult {
  width: 250px;
  display: inline-grid;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  height: 300px;
  margin: 10px;
}

.gifResult {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  min-width: 200px;
}

.rating {
  text-align: center;
}

#eraseHistory {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  width: 100%;
}

.col-10 {
  padding: 0;
}